<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager/managerLogin.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <h1>GREETINGS MANAGER!</h1>
        
     <h3> Kindly Login with your Username</h3>
        <form method="POST" action="managercheckpassword">
        
            <input type="text" name = "userName" placeholder="Enter your username...">
            
            <input type="password" name = "password" placeholder="Enter your password">
    
            <button name = "button" value="login"> LOGIN</button>
    
    
        </form>
</div>    

    
</body>
</html>