<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager/managerProfilePage.css') }}">
    <title>Manager Profile</title>
</head>
<body>
    
    <div class="body">
        
        
        <div class="con">
            <h2>Welcome Back, <br> Manager {{Userdetails["name"]}}</h2>
            <h3>Please choose among the following options</h3>
            <div class="donate">
                <button onClick="document.location ='donate-money'">DONOTE MONEY</button>
                <button type="button"onClick="document.location ='manager-check-records'">Check Records</button>
                <button type="button"onClick="document.location = 'donate-item'">DONOTE ITEM</button>
            </div>
            
            <div class="donate">

                <button onClick="document.location ='manager-show-requirement'">Show Requirements</button>
                <button type="button"onClick="document.location = 'manager-update-price-list'">Update Item Price</button>
                <button type="button"onClick="document.location = 'manager-buy-item'">Buy Items</button>
            </div>
            <div class="donate">

                <button onClick="document.location ='manager-update-donor'">Update Donors Profile</button>
                <button type="button"onClick="document.location = 'manager-help-students'">Help Students</button>
                <button type="button"onClick="document.location = 'manager-show-help'">See Help</button>
            </div>
            <div class="donate">
                <button onClick="document.location ='manager-manage-staff'">Manage Staff</button>
                <button type="button"onClick="document.location = 'manager-help-students'">Help Students</button>
                <button type="button"onClick="document.location = 'manager-show-help'">See Help</button>
            </div>
            <div class="donate">
                <button onClick="document.location ='update-manager-profile'">UPDATE PROFILE</button>
                <button type="button"onClick="document.location = 'manager-manual'">USER MANUAL</button>
                <button type="button"onClick="document.location = 'manager-logout'">LOG OUT</button>
            </div>
        </div>


    </div>

    
</body>
</html>