<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manager/style.css') }}">
    <title>Balance Fund</title>
</head>
<body>
    <button class = "button__homepage"onClick="document.location ='managerprofilepage'">Profile Page</button> 
    <div class="body">
        <h1>Current available Funds = &#8377;{{ BalanceFund }}</h1>
    </div>

    
</body>
</html>