<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/staff/staffProfilePage.css') }}">
    <title>Staff Profile</title>
</head>

<body>

    <div class="body">

        <div>
            <h1>Welcome Back,{{userDetails["name"]}}</h1>
        </div>
        <h2>Select any option:<br></h2>
        <div class="main">


            <button type="button" onClick="document.location = 'register-student'">Register Student</button>
            <button type="button" onClick="document.location = 'update-student'">Update Student</button>
            <button type="button" onClick="document.location = 'donate-staff'">Donate Money</button>

        </div>


        <div class="options">

            <button onClick="document.location ='update-staff-profile'">UPDATE PROFILE</button>
            <button type="button" onClick="document.location = 'staff-manual'">USER MANUAL</button>
            <button type="button" onClick="document.location = 'stafflogout'">LOG OUT</button>
        </div>


    </div>


</body>

</html>