<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pangolin&display=swap" rel="stylesheet"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donor/donateMoney.css') }}">
    <title>DONATE ITEMS</title>
</head>
<body>
      
    <div class="body">
        <div class="amount">
            <h3>Choose the number of items you want to donate</h3>
            <form method="post" action="">
                <label for="book">No of Books:</label><br>
                <input type="number" value="1" min="0" id="book" name="book"> 
                <label for="bag">No of Bags:</label><br>
                <input type="number" value="1" min="0" id="bag" name="bag"> 
                <label for="shoes">No of shoes:</label><br>
                <input type="number" value="1" min="0" id="shoes" name="shoes"> 
                <label for="clothes">No of Clothes:</label><br>
                <input type="number" value="1" min="0" id="clothes" name="clothes"> 
                <button>MAKE Donation</button>

            </form>
        </div>

        <div class="options">

            <button onClick="document.location ='update-donor-profle'">UPDATE PROFILE</button>
            <button type="button"onClick="document.location = 'donor-manual'">UPDATE</button>
            <button type="button"onClick="document.location = 'donor-logout'">LOG OUT</button>
        </div>


    </div>

    
    
</body>
</html>