<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donor/donorLogin.css') }}">
    <title>Donor Login</title>
</head>
<body>
 <div class="body">
    <h1> Welcome Donor!</h1>
    
 <h3 > ALREADY A DONOR? </h3>
    <form method="post" action="">
    
        <input type="text" name="userName" placeholder="Enter your username...">
        
        <input type="password" name="password" placeholder="Enter your password">

        <button name="button" value="login">LOGIN</button>


    </form>

    <h3> REGISTER HERE</h3> 

    <form method="post" action="">
      
        <input type="text" name="name" placeholder="Enter your Name">
      
        <input type="text" name="email" placeholder="Enter your Email ID">
       
        <input type="text" name="userName" placeholder="Enter your Username">
    
        <input type="password" name="password" placeholder="Enter your password">
       
        <input type="password" name="rePassword" placeholder="Renter your password">
        
        <input type="text" name="contactNumber"  placeholder= "Enter your Contact Number">
        <p> NOTE: you cannot change your username after registering</p>

        <button name="button" value="register">REGISTER</button>


    </form>
 </div>
</body>
</html>