<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donor/donorLogin.css') }}">
    <title>Donor Login</title>
</head>
<body>
 <div class="body">
    <h1> Welcome Donor!</h1>
    
 <h3 > ALREADY A DONOR? </h3>
    <form method="post" action="">
    
        <input type="text" name="userName" placeholder="Enter your username...">
        
        <input type="password" name="password" placeholder="Enter your password">

        <button name="button" value="login">LOGIN</button>


    </form>

    <h3> REGISTER HERE</h3> 

    <form method="post" action="">
      
        <input type="text" name="name" placeholder="Enter your Name" required>
      
        <input type="email" name="email" placeholder="Enter your Email ID">
       
        <input type="text" name="userName" placeholder="Enter your Username" required>
    
        <input type="password" id ="password" name="password" placeholder="Enter your password" required>
       
        <input type="password" id = "rePassword"name="rePassword" placeholder="Renter your password">
        
        <!-- <input type="text" name="contactNumber"  placeholder= "Enter your Contact Number"> -->
        <input type="text" pattern= "[6-9]{1}[0-9]{9}"id = "contactNumber"name ="contactNumber" placeholder="Enter Valid Phone" oninvalid="setCustomValidity('Please enter a 10 digit number,starting with 6,7,8,9 ')"
                    onchange="try{setCustomValidity('')}catch(e){alert(e)}" required >
        <p> NOTE: you cannot change your username after registering</p>

        <button name="button" value="register">REGISTER</button>


    </form>
 </div>
 <script>
    var password = document.getElementById("password"), confirm_password = document.getElementById("rePassword");
    // var phone = document.getElementById("phone");
    function validatePassword(){
    if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
        confirm_password.setCustomValidity('');
    }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    </script>
</body>
</html>