<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donor/updateDonorProfile.css') }}">
    <title>UPDATE PROFILE</title>
</head>
<body>
    <div class="body">
  <div class="forms">
      <div class="form1">     
 <form method="post" action="">

    <h3> Update your Details</h3>
   
    <div>Name:<br>
    <input type="text" name="name" value="{{user['name']}}" required>
    </div>
    <div>Username:<br>
    <input type="text" name="userName" class="permanent" value="{{user['userName']}}" disabled>
    </div>
    <div>Email ID:<br>
    <input type="email" name ="email" value="{{user['email']}}" required>
    </div>
    <div>Contact Number:<br>
    <!-- <input type="text" name ="contactNumber" value="{{user['contactNumber']}}" required> -->
    <input type="text" pattern= "[6-9]{1}[0-9]{9}"id = "contactNumber"name ="contactNumber" value="{{user['contactNumber']}}" oninvalid="setCustomValidity('Please enter a 10 digit number,starting with 6,7,8,9 ')"
                    onchange="try{setCustomValidity('')}catch(e){alert(e)}" required >
    </div>
   

    <div>Membership:<br>
        <select name="membership">    
    {%if user["membership"]%}
   
        <option value="semi" selected>SEMI ANNUALY</option>
        <option value="full" >ANNUALY</option>
    {% else%}  
    <option value="semi">SEMI ANNUALY</option>
    <option value="full" selected>ANNUALY</option>

    {%endif%}   
    
    </select>
    </div>
     <button name="button" type="submit" value="save"> Save Changes</button>  
    
</form>
</div>
<div class="form2">
<form method="post" action="">
    <h3> Change Password</h3>
    <div>Old Password:<br>
    <input type="password" name="oldPassword" placeholder="Your old password...">
    </div>
    <div>New Password:<br>
    <input type="password" name="newPassword" placeholder="Your new password...">
    </div>
    <div>Re-enter New Password:<br>
    <input type="password" name="reNewPassword" placeholder="Renter new password...">
    </div>
    <button name ="button" type="submit" value="changePassword">CHANGE PASSWORD</button>

</form>
</div>
    </div>
<div class ="options"> 
   
    <button name ="button" type="button"onClick="document.location = 'update-donor-profile'">Discard Changes</button>
</div>

  </div>
</body>
</html>