<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/donorLogin.css') }}">
    <title>Donor Login</title>
</head>
<body>
 <div class="body">
    <h1> Welcome Donor!</h1>
    
 <h3> ALREADY A DONOR?</h3>
    <form method="POST" action="logindonorpassword">
    
        <input type="text" name="username" placeholder="Enter your username...">
        
        <input type="password" name="password" placeholder="Enter your password">

        <button type="submit"> LOGIN</button>


    </form>

    <h3> REGISTER HERE</h3> 

    <form method="POST" action = registerdonor>
      
        <input type="text" name = "name" placeholder="Enter your Name">
      
        <input type="text" name = "emailid" placeholder="Enter your Email ID">
       
        <input type="text" name = "username" placeholder="Enter your Username">
    
        <input type="password" name = "password" placeholder="Enter your password">
       
        <input type="password" name = "password_reenter" placeholder="Renter your password">
        
        <input type="tel"  name = "phone" placeholder= "Enter your Contact Number">

        <button type="submit"> REGISTER</button>


    </form>
 </div>
</body>
</html>